<!-- SHOP NAME BEGINING -->
<div class="container">
    <footer>
        <div class="left">
            <p>
                <a href="{shop_url}"
                   style="text-decoration: underline; color: #656565; font-size: 16px; font-weight: 600;">{shop_name}</a>
            </p>
        </div>
        <div class="right inline">
            <div>Powered by <a href="https://tivuno.com" class="hyperlink" style="font-size: 1.5rem">
                    tivuno
                </a></div>
        </div>
    </footer>
</div>
